@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  font-family: 'Lato', sans-serif;
  padding : 0;
  margin: 0;
  box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6, span{
  color: #242424;
  text-align:center;
  line-height: 1.25;
}

h1{
font-size: 36px;
}

p{
  line-height:1.5;
  font-size: 16px;;
}

li{
  list-style-type:none;
}
.flex{
  display:flex;
}
.flex-1{
  flex:1;
}

.container{
  padding: 50px 0;
  margin-top: 60px;
}
.row{
  width: 100%;
  max-width: width 800px;
  margin: 0 auto;
}
.text-purple{
  color:#bf3a71;
}
section:nth-child(even){
  background-color:rgb(235, 233, 233); 
}

/* NAVIGATION BAR */

nav{
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top: 22px;
}
.nav_link_list{
  display: flex;
}
.nav_link_anchor{
  margin:0 12px;
  color:#242424;
  text-decoration:none;
  font-weight: 700;
}
.nav_link_anchor_primary{
  background-color:#bf3a71;
  padding: 8px 20px;
  border-radius: 50px;
  color:white;
  transition: all 300ms ease;
}
.nav_link_anchor_primary:hover{
background-color:#860532
}
.personal_logo{
font-size: 25px;
color:#bf3a71;
margin:0 12px;
font-weight: bold;
}

/* ABOUT ME */
#about_me
{
  min-height:100vh;
  display:flex;
  flex-direction:column;
}
.about-me_info{
  display:flex;
  flex-direction: column;
}
.about-me_info-container{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  max-width: 600px;
  margin:0 auto;
  text-align:center;
}
.about-me_picture-mask{
  width:100px;
  height:100px;
  border-radius:50%;
  overflow:hidden;
  box-shadow:0 8px 24px rgb(121, 119, 119);
  margin-bottom: 20px;
}
.about-me_picture{
  width: 100px;
}
.about-me_info-title{
  margin-bottom: 16px;
}
.about-me_info-paragraph{
  font: size 20px;
  margin-bottom: 28px;
}
.about-me_link{
  font: size 20px;
  color:#242424;
  text-decoration:none;
  padding:0 16px;
}
.about-me_image-container{
  flex:1;
  display:flex;
  align-items:center;
}
.about-me_image{
  width: 100%;
  max-width: 600px;
  margin:0 auto;
  margin-top: 22px;
}

/* TECHNOLOGY STACK */

.language_image{
  width:100%;
  max-width: 50px;
  transition: all 300ms ease; 
}
.language:hover .language_image{
  filter:brightness(80%);
  opacity:0.86;
  transform: scale(0.9);
}
.language_image_wrapper{
  display:flex;
  justify-content: center;
  align-items:center;   
  padding: 30px 16px;
}
.language{
  width:25%;
  display:flex;
  justify-content: center;
  position:relative;
}
.language_list{
  display:flex;
  width:100%;
  flex-wrap:wrap;
}
.language_name{
  position:absolute;
  bottom:0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
}
.language:hover .language_name{
  transform:scale(1);
}