@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  font-family: 'Lato', sans-serif;
  padding : 0;
  margin: 0;
  box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6, span{
  color: #242424;
  text-align:center;
  line-height: 1.25;
}
p{
  line-height:1.5;
  font-size: 16px;;
}

li{
  list-style-type:none;
}
/* NAVIGATION BAR */

nav{
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.nav_link_list{
  display: flex;
}
.nav_link_anchor{
  margin:0 12px;
  color:#242424;
  text-decoration:none;
  font-weight: 700;
}
.nav_link_anchor_primary{
  background-color:#bf3a71;
  padding: 8px 20px;
  border-radius: 50px;
  color:white;
  transition: all 300ms ease;
}
.nav_link_anchor_primary:hover{
background-color:#860532
}
.personal_logo{
font-size: 20px;
color:#bf3a71;
margin:0 12px;
font-weight: bold;
}

/* ABOUT ME */
#about_me
{
  min-height:100vh;
  display:flex;
  flex-direction:column;
}